 html, body{
    height: 100%;
    background-color: #1E90FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}



h1{
    text-align: center;
    font-weight: 700 bold ;
    font-size: 46px;
}

input{
    width: 280px;
    height: 40px;
    border: none;
    outline: none;
    margin: 5px 0 0 10px;
    font-weight: 300;
}
.title{
    display: block;
    word-break:break-all;
    margin-right: 10px;
    font-weight: 300;

}

button{
border: none;
border-radius: 18px;
background-color: #000;
width: 70px;
height: 30px;
color: #FFFF;
}

.check__btn{
    width: 20px;
    height: 20px;
    margin-right:20px ;
}


.list__item{
    width: 380px;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
    margin: 30px auto;
}

.toDO__icon{
    width: 400px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    /* display: none; */

}

.toDo__item{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 15px;
    align-items: center;
    border-bottom: 1px solid #000;
}

.importand{
    color: red;
}
.delete{
    border: none;
border-radius: 18px;
background-color: #000;
width: 70px;
height: 30px;
color: #FFFF;
}